<!DOCTYPE html>
<html>
<title>Coming soon</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('https://image.ibb.co/fiLRbe/meg_egy_cocat_is_motioncapturenek_vetettek_ala_a_the_last_of_us_part_2hoz_1.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

footer{
  width:100%;
  height:7%;
  position:absolute;
  bottom:0;
  left:0;
  background-color:gray;
}

</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    {{ .Env }}
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">COMING SOON</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    {{ with .Games }}
      {{ range . }}
    <p class="w3-xxlarge w3-center">{{ .Name }}  <span class="w3-xlarge">({{ .Date }})</span></p>
      {{ end }} 
    {{ end }}
  </div>
  <footer>
    <div class="w3-display-bottomleft w3-padding-large">
      Powered by <a href="https://thelastofus.fandom.com/wiki/Fireflies" target="_blank">Fireflies</a>
    </div>
  </footer>

</div>

</body>
</html>
